<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peak - playlist</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- <link rel="stylesheet" href="styles/debug.css"> -->
</head>

<style>
.modal-select {
  opacity: 1 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message-select {
  height: 50%;
  width: 50%;
}
</style>

<body>
    <section class = "hero is-medium has-background-black">
      <div class="hero-body is-right">
        <figure class="image right">
          <img src="static/peaklogo.png" sty@le="top: 560px;">
        </figure>
      </div>
    </section>
</body>

<!-- .hero -->
<section class="hero-foot">
  <section class="section has-background-black">
      <form action="/playlist_input" method="POST">
        <div class="container has-text-centered">
          <div class="columns is-vcentered is-active is-10">
            <div class="field is-active column is-vcentered is-6" style="margin-top: -100px">
              <label class="label has-text-white">Please specify your playlist name</label>
                <input class="input has-text-centered" type="text" placeholder="....we need to distract you while our algorithm runs...." name="playlist_name">
              </div>
                <div class="column is-vcentered is-active is-4" style="margin-top: -80px">
                  <input class="button is-normal has-background-white has-text-black is-right-outlined is-right-outlined" type="submit" value="Submit input ">
                </div>
              </div>
            </div>
          </form>
      <div>
        <div class="content has-text-right has-text-white is-2" style="margin-top: -50px">
            <a href="https://www.lewagon.com" target="_blank">
              <img src="static/logo_lewagon_red.png"  style="margin-top: -50px" alt="" width=20>
              <img src="static/lewagon_white.png"  style="margin-top: -50px" alt="" width=60>
            </a>
          </p>
        </div>
      </div>
    </section>
  </section>





