<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- <link rel="stylesheet" href="styles/debug.css"> -->
    <style>

.hero {
  background: url(static/bell_curve.png) center / cover ;
}

.top    { align-items:     flex-start; }


@media (max-width: 1024px) { .hero { background: url(static/bell_curve.png) center / cover; } }
@media (max-width:  768px) { .hero { background: url(static/bell_curve.png) center / cover; } }

    </style>
  </head>

<body>

<!-- .hero -->
<section class="hero is-fullheight">

</section>
<!-- /.hero -->
<section class="hero-body has-text-centered" style="top: 250px;">
  <div class = "is-overlay">
    <h1 class="title has-text-weight-light has-text-white">Please wait while we load your playlist</h1>
    <h2 class="subtitle has-text-weight-light has-text-white">We currently have (dynamic count) songs available!</h2>
  </div>
</section>
  </body>
</html>
