<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- <link rel="stylesheet" href="styles/debug.css"> -->
    <style>

.hero {
  background: url(static/bell_curve.png) center / cover ;
}

.top    { align-items:     flex-start; }


@media (max-width: 1024px) { .hero { background: url(static/bell_curve.png) center / cover; } }
@media (max-width:  768px) { .hero { background: url(static/bell_curve.png) center / cover; } }

    </style>
  </head>

<body>

<!-- .hero -->
<section class="hero is-fullheight"></section>
<!-- /.hero -->
<div class="modal is-active is-primary">
  <a> <iframe src="https://open.spotify.com/embed/playlist/0JQePLAeDbKPuvy5UXp5xy" width="300" height="250" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></a>
</div>
</body>
</html>
