<!DOCTYPE html>
<html style="background-color: hsl(0, 0%, 4%);margin: 0; height: 100%; overflow: hidden">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peak - playlist</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- <link rel="stylesheet" href="styles/debug.css"> -->
</head>

<style>
.image-select {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;

}

.card-heading {
  color: rgb(248, 247, 222);
  font-family: Helvetica;
  font-weight: bold;
}

.card-subheading {
  color: rgb(248, 247, 222);
  font-weight: lighter;
  font-family: Helvetica;
}
</style>

<body>
    <section class = "hero is-medium has-background-black">
      <div class="hero-body is-right has-background-black">
        <figure class="image-select right has-background-black">
          <a href="https://peak-music.herokuapp.com/" target="_blank">
            <img src="static/peaklogo_2.png">
          </a>
        </figure>
      <h3 class="card-heading has-text-centered" >Oops.. something went wrong!</h3>
      <h2 class="card-subheading has-text-centered">Our dataset is not big enough to handle your request.. we're working on it</h2>
      <h2 class="card-heading has-text-centered">Click on the logo to redirect to the homepage</h2>
      </div>
    </section>
</body>

<section class="hero-foot">
  <section class="section has-background-black">
    </section>
      <div>
        <div class="content has-text-right has-text-white is-3" style="margin-top: -120px">
            <a href="https://www.lewagon.com" target="_blank">
              <img src="static/logo_lewagon_red.png"  style="margin-top: -120px" alt="" width=20>
              <img src="static/lewagon_white.png"  style="margin-top: -120px; padding-right: 20px" alt="" width=60>
            </a>
        </div>
      </div>
  </section>
</html>





