<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peak - playlist</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- <link rel="stylesheet" href="styles/debug.css"> -->
</head>

<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.modal {
  position: absolute;
  top: 40%;
}

.image-select {
  padding-top: 30px;
}

.container-select {
    position:   relative;
}

#toTop {
    position:   absolute;
    top:        5px;
    left:       5px;
    text-align: left;
}

</style>

<body>
  <div class="section-select">
  <figure class="image has-background-black">
    <img src="static/curve_bitmapped.png" style="width:800px;height:600px;" class="center">
  </figure>
</body>

<!-- .hero -->
  <!-- /.hero -->
      <div class="modal is-active is-primary">
        <article class="message is-medium has-background-black">
          <a> <iframe src="https://open.spotify.com/embed/playlist/{{widget}}" width="300" height="250" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></a>
        </article>
      </div>
   </section>
    <section class="hero-foot">
      <section class="section has-background-black">
      <div>
        <div class="content has-text-right has-text-white is-2" style="margin-top: -40px">
            <a href="https://www.lewagon.com" target="_blank">
              <img src="static/logo_lewagon_red.png"  style="margin-top: -40px" alt="" width=20>
              <img src="static/lewagon_white.png"  style="margin-top: -40px" alt="" width=60>
            </a>
        </div>
      </div>
        </div>
      </section>
  </section>
